@charset "ISO-8859-1";

body {
	background-color: lightblue;
	margin: 100px 100px 150px 80px;
}

#header {
	margin-top: -100px;
}

#profileDetailsDisplayArea {
	margin-right: 100px;
	padding-top: 200px;
	width: 50%;
	padding-right: 50px;
}

table.table.table-bordered {
	margin-right: 100px;
	padding-top: 200px;
	width: 50%;
	padding-right: 50px;
	background-color: white;
}